
.filter-block {
    width: 190px;
    margin-right: 50px;
  }
  
  .filter-item {
    margin-bottom: -15px;
  }
  
  .filter-list {
    position: relative;
    top: -12px;
    width: auto;
    list-style: none;
    padding: 0 1px 0 0;
    max-height: 139px;
    overflow-y: auto;
    border-top: 2px solid #ccc;
    border-radius: 2px;
  }
  
  .filter-list li {
    display: flex;
    align-items: center;
    padding: 7px;
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
  
    background-color: green;
    &:hover {
      background-color: #e0e0e0;
    }
  }
  
  .filter-list input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .filter-list label {
    margin-left: 4px;
  }